@font-face {
  font-family: 'Akkurat';
  src: url('assets/Akkurat.eot');
  src: url('assets/Akkurat.eot?#iefix') format('embedded-opentype'),
    url('assets/Akkurat.woff') format('woff'),
    url('assets/Akkurat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  src: url('assets/AkkuratLight.eot');
  src: url('assets/AkkuratLight.eot?#iefix') format('embedded-opentype'),
    url('assets/AkkuratLight.woff') format('woff'),
    url('assets/AkkuratLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 50px;
  background-color: white;
  font-family: 'Akkurat Light', sans-serif;
  line-height: 1.6;
  margin: 0;
  font-size: 16px;

  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

a {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Akkurat', sans-serif;
  font-weight: bold;
  color: #007ee5;
  padding: 4px 10px;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

.nav {
  float: right;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

h1 {
  font-size: 32px;
  font-family: 'Akkurat Light', sans-serif;
  font-weight: 100;
  line-height: 1.4;
}

.content {
  width: 60%;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 'Akkurat', sans-serif;
}

.header {
  margin-bottom: 3em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

